<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>model.UserFunctions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityCodeConfrimation</servlet-name>
        <servlet-class>controller.SecurityCodeConfrimation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecuirtyCodeConfirmation</servlet-name>
        <servlet-class>controller.SecuirtyCodeConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>security</servlet-name>
        <servlet-class>controller.security</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowJobs</servlet-name>
        <servlet-class>controller.ShowJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_Home</servlet-name>
        <servlet-class>controller.ShowAppToSme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadjobs</servlet-name>
        <servlet-class>controller.uploadjobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HR_Authorities</servlet-name>
        <servlet-class>controller.HR_Authorities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJob</servlet-name>
        <servlet-class>controller.ApplyJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCV</servlet-name>
        <servlet-class>controller.CheckCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCVS</servlet-name>
        <servlet-class>controller.GetCVS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckResponse</servlet-name>
        <servlet-class>controller.CheckResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAppToSme</servlet-name>
        <servlet-class>controller.ShowAppToSme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendToHRP</servlet-name>
        <servlet-class>controller.SendToHRP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSmeReply</servlet-name>
        <servlet-class>controller.GetSmeReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSmeReplys</servlet-name>
        <servlet-class>controller.GetSmeReplys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCvHRM</servlet-name>
        <servlet-class>controller.SendCvHRM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HRM_CVS</servlet-name>
        <servlet-class>controller.HRM_CVS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rating_feedbacks</servlet-name>
        <servlet-class>.rating_feedbacks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HRM_CVS2</servlet-name>
        <servlet-class>controller.HRM_CVS2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingsFeed</servlet-name>
        <servlet-class>controller.RatingsFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top_applicant</servlet-name>
        <servlet-class>controller.Top_applicant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkuser_name_ajax</servlet-name>
        <servlet-class>controller.checkuser_name_ajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityCodeConfrimation</servlet-name>
        <url-pattern>/SecurityCodeConfrimation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecuirtyCodeConfirmation</servlet-name>
        <url-pattern>/SecuirtyCodeConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>security</servlet-name>
        <url-pattern>/security</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowJobs</servlet-name>
        <url-pattern>/ShowJobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_Home</servlet-name>
        <url-pattern>/Check_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadjobs</servlet-name>
        <url-pattern>/uploadjobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HR_Authorities</servlet-name>
        <url-pattern>/HR_Authorities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJob</servlet-name>
        <url-pattern>/ApplyJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCV</servlet-name>
        <url-pattern>/CheckCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCVS</servlet-name>
        <url-pattern>/GetCVS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckResponse</servlet-name>
        <url-pattern>/CheckResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAppToSme</servlet-name>
        <url-pattern>/ShowAppToSme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToHRP</servlet-name>
        <url-pattern>/SendToHRP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSmeReply</servlet-name>
        <url-pattern>/GetSmeReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSmeReplys</servlet-name>
        <url-pattern>/GetSmeReplys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCvHRM</servlet-name>
        <url-pattern>/SendCvHRM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HRM_CVS</servlet-name>
        <url-pattern>/HRM_CVS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rating_feedbacks</servlet-name>
        <url-pattern>/rating_feedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HRM_CVS2</servlet-name>
        <url-pattern>/HRM_CVS2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingsFeed</servlet-name>
        <url-pattern>/RatingsFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top_applicant</servlet-name>
        <url-pattern>/Top_applicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkuser_name_ajax</servlet-name>
        <url-pattern>/checkuser_name_ajax</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>  
    <welcome-file>Home.jsp</welcome-file>  
</welcome-file-list>  
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    
</web-app>
